.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  gap: 10px;
  list-style-type: none;
  border: 2px solid brown;
  border-radius: 20px;
}
.li {
  padding: 10px;
  border: 1px brown solid;
  border-radius: 10px;
}
.lin {
  color: brown;
}
