.nav {
  display: flex;
  gap: 2px;
  border-bottom: 4px solid brown;
  margin-top: 15px;
  margin-bottom: 15px;
}

.link {
  color: black;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 15px;
  margin-right: 10px;
}

.link:hover {
  text-decoration: underline;
  color: brown;
}

.active {
  color: brown;
}
